.html {
   background-color:#FE9D8E;

}


.grid-patch {
  display: grid;
  grid-template-columns: auto auto auto;

}



.grid-env {
  display: grid;
  grid-template-columns: auto auto auto;

}



.grid-filter {
  display: grid;
  grid-template-columns: auto auto auto auto;

}

.grid-chorus {
  display: grid;
  grid-template-columns: auto auto auto auto;

}


.grid-delay {
  display: grid;
  grid-template-columns: auto auto auto auto;


}


.grid-reverb {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}


.grid-item {

  font-size: 10px;
  text-align: left;
  padding-right:16px;
  padding-bottom:15px;
}

.grid-item2 {

  font-size: 10px;
  text-align: left;
  padding-right:1px;
  padding-bottom:15px;
}


#block-players {
   background-color:#ED6355;
  color:white;
  padding-left: 5px;
 padding-right: 5px;
 padding-top: 2px;
 padding-bottom: 2px;

}

#block-autofilter {
   background-color:#FE9D8E;
  color:white;
  padding-left: 5px;
 padding-right: 5px;
 padding-top: 2px;
 padding-bottom: 2px;

}

#block-distortionfeedback{
   background-color:#8AD6D8;
  color:white;
  padding-left: 5px;
 padding-right: 5px;
 padding-top: 2px;
 padding-bottom: 2px;

}


#block-chorus {
   background-color:#8AD6D8;
  color:white;
  padding-left: 5px;
 padding-right: 5px;
 padding-top: 2px;
 padding-bottom: 2px;

}

#block-delay {
   background-color:#2BACA9;
  color:white;
  padding-left: 5px;
 padding-right: 5px;
 padding-top: 2px;
 padding-bottom: 2px;

}

#block-reverb {
   background-color:#1F5966;
  color:white;
 padding-left: 5px;
padding-right: 5px;
padding-top: 2px;
padding-bottom: 2px;
}

#block-mainpagecontent{
   background-color:#1B2E42;
   color:#1F5966;
 padding: 25px;
}


#block-seq {
   background-color:#2BACA9;

}

#block-contentfield {
   background-color:#8AD6D8;
   color:#1F5966;
 padding: 25px;
}


#block-contentfield-2 {
   background-color:#2BACA9;
     color:white;
 padding: 1px;
  padding: 25px;
}

#block-keys {
   background-color:#1F5966;
     color:white;
 padding: 25px;
}




#block-fat {
 padding: 1px;
}


.dropbtn {
  background-color: #ED6355;
  color: white;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content p {
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown-content p:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}