html, body, textarea, p { font-family: "Quick Sand", sans-serif; font-size: 93.75%; line-height: 1.2em; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.site-branding__name-link { font-family: "Quick Sand", sans-serif; font-size: 1.563rem; line-height: 1.2; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.node__title, .page__title, .user__title { font-family: "Open Sans", sans-serif; font-size: 1.875rem; line-height: 1.2; }
.node--view-mode-full .node__title, .node--view-mode-full .field-node--node-title * { font-family: "Quick Sand", sans-serif; font-size: 1.875rem; line-height: 1.2; }
.node--view-mode-teaser .node__title, .node--view-mode-teaser .field-node--node-title * { font-family: "Open Sans", sans-serif; }
.comment__title, .comment__title a, .field-comment--comment-title * { font-family: "Quick Sand", sans-serif; }
.block__title, .block-menu__title, .pane__title { font-family: "Quick Sand", sans-serif; font-size: 1.25rem; line-height: 1.2; }
a, .un-button { font-family: "Quick Sand", sans-serif; }
h1, h2, h3, h4, .h1, .h2, .h3, .h4 { font-family: "Open Sans", sans-serif; }
h5, h6, .h5, .h6 { font-family: "Open Sans", sans-serif; }


