#myProgress {
  width: 100%;
  background-color: #ED6355 ;
margin-left:10%;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: #30450a;
}

.grid-patch {
  display: grid;
  grid-template-columns: 25% 72% ;

  
 

}




.grid-env {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto ;
padding-bottom:0.8rem;


}


.grid-filter {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding-top:0.7rem;


}




.grid-delay {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;

  padding-top:0.7rem;

}


.grid-reverb {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto ;


}


.grid-item {

 }
 .grid-item2 {

  }

 .grid-item p {
 	 font-size:1.2rem;


  }


  ß
  /**
   * Controls
   */
  #block-contentea342fb5-7779-4f05-870e-f07f5466ac32{
	 background-color:#975975;
 	margin-bottom:0.5rem;
 	 padding-top:0.5rem;

  }

  /**
   * Filter
   */
  #block-content31bbdb58-9678-4c64-8e29-8c18209150cb{
	 background-color:#0555b3;
	 padding-top:0.5rem;
	margin-bottom:0.5rem;
}

  /**
   * Chorus
   */
  #block-content426eca68-e6ea-40de-9c8a-60eb2565a5ea{
	 background-color:#205a0a;
	 margin-bottom:0.5rem;
	  padding-top:0.5rem;
  }
  /**
   * Delay
   */
  #block-content96de5361-cfee-4c6a-be06-c124cef27d7b{
	 background-color:#bd7503;
	margin-bottom:0.5rem;
	 padding-top:0.5rem;
}

  /**
   * Reverb
   */
  #block-content2133502b-e557-48a4-bafe-7e3c8b5c4503{
	 background-color:#4b0e4b;
margin-bottom:0.5rem;
 padding-top:0.5rem;
  }

  /**
   * seq
   */
 
  #block-content3a705ecf-e07d-4892-b8e4-843e17dda90e {
font-size:0.9rem;
line-height:100%;
 background-color:#2e3229;
padding:10px;
}

  #block-content3a705ecf-e07d-4892-b8e4-843e17dda90e h6{
font-size:1.1rem;
font-weight:200;
}


  #block-content132cac83-d454-4d7d-b32e-98e891058e9c {
font-size:0.9rem;
line-height:100%;
 background-color:#2e3229;
padding:0.8rem;
}

  #block-content132cac83-d454-4d7d-b32e-98e891058e9c h6{
font-size:1.2rem;
font-weight:200;
}



/**
 * disks
 */

  #block-content9620ef86-a5b2-41a8-b101-a6ef2db3232b {


font-size:1.6rem;
line-height:100%;
 background-color:#bd7503;
 margin-bottom:5%;
padding:10px;
}

#block-content9620ef86-a5b2-41a8-b101-a6ef2db3232b a:link{
   color: #30450a;
 font-weight:bold;
}

#block-content9620ef86-a5b2-41a8-b101-a6ef2db3232b a:visited{
   color: #30450a;
 font-weight:bold;
}


  #views-blockfrontpage-block-1 {


font-size:1rem;
line-height:100%;
 background-color:#bd7503;
 margin-bottom:5%;
padding:0px;
}


 


#field-blocknodesamplelibrarygridtitle{
font-size:2.0rem;
padding:0.8rem;
line-height:100%;
 background-color:#2e3229;
 margin-bottom:5%;
}
 
#field-blocknodesamplelibrarygridfield-downloads{
	font-size:1.4rem;
padding:10px;
 background-color:#bd7503;
margin-bottom:5%;
line-height:1.5rem;
}

#field-blocknodesamplelibrarygridfield-downloads a:link{
color:#511500;

}

#field-blocknodesamplelibrarygridfield-downloads a:visited{
color:#511500;

}



#field-blocknodesamplelibrarygridfield-library-info{

padding:0.8rem;
 background-color:#30450a;
margin-bottom:5%;
}

#field-blocknodesamplelibrarygridfield-library-info a:link{
color:#2e3229;

}
#field-blocknodesamplelibrarygridfield-library-info a:visited{
color:#2e3229;

}

#field-blocknodesamplelibrarygridfield-library-info p{
font-size:1.1rem;
}

#field-blocknodesamplelibrarygridfield-library-info li{
color:#decc97;
}

#field-blocknodesamplelibrarygridfield-library-info ul{
padding-bottom:1rem;
}


#field-blocknodeslgraintitle{
font-size:1.6rem;
padding:0.8rem;
line-height:100%;
 background-color:#2e3229;
 margin-bottom:5%;
}
 
#field-blocknodeslgrainfield-downloads{
padding:0.8rem;
 background-color:#30450a;
margin-bottom:5%;
}

#field-blocknodeslgrainfield-downloads a:link{
color:#bd7403;

}
#field-blocknodeslgrainfield-downloads a:visited{
color:#bd7403;

}

#field-blocknodeslgrainfield-library-info{

padding:0.8rem;
 background-color:#bd7503;
margin-bottom:5%;
}

#block-ms-branding{

 background-color:#5d1007;

}

#bblock-views-block-frontpage-block-1-2  {
   background-color:#272A44;
  color:white;
  padding: 2px;
}


.node__container{
   background-color:#965b3f;
   color:#ecd7a2;
font-size: 1.2em;
padding-left:0.5rem;
padding-right:0.5rem;
padding-top:0.5rem;
}

.node__container a:link{
   color: #ecd7a1;
 font-weight:bold;
}


.node__container a:visited{
   color:#ecd7a1;
 font-weight:bold;
}

.node__container a:hover{
   text-decoration:underline;
 font-weight:bold;
 color:#0c032d;
}



.node__container li{
	padding-top:0.5rem;
	color:#511500;
	margin-left:-0.7rem;
   

}

#block-content {
   background-color:#030603;
  color:white;
  padding:0.8rem;
}

#block-libtext {
   background-color:#1F5966;
  color:white;
  padding:0.8rem;
}



#block-libraries-2 {

  align: right;
  margin-left:70%;
  margin-top:5%;
}




#block-keys {
     color:white;

}




#block-fat {
 padding: 1px;
}


.dropbtn {
  background-color: #5d1007;
  color: #ecd7a1;
  font-size: 12px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content p {
	background-color: #2e3229;
  ccolor: #ecd7a1;
  text-decoration: none;
  display: block;
}

.dropdown-content h3 {
	background-color: #2e3229;
	font-size:14px;
  color: #ecd7a1;
  text-decoration: none;
  display: block;
}


.dropdown-content p:hover {background-color: #cc820f;}

.dropdown-content h3:hover {background-color: #cc820f;}

.dropdown:hover .dropdown-content {display: block;
background-color: #2e3229;

}

.dropdown:hover .dropbtn {background-color: #2e3229;}
 

 .grid-item p {
 	 font-size:12px;
	 text-align:left;

  }




 



#block-keys {
     color:white;

}




#block-fat {
 padding: 1px;
}

