/**
 * Custom CSS
 * Use this file to override styles if you feel uncomfortable editing
 * component stylesheets.
 ============================================================================ */




body {
  background-color:#0c032d;
  background-repeat: no-repeat;
    background-size: cover;
	padding:10px;
}