/**
 * Custom CSS
 * Use this file to override styles if you feel uncomfortable editing
 * component stylesheets.
 ============================================================================ */




body {
  background-color:#1B2E42;
  background-repeat: no-repeat;
    background-size: cover;
}